.common {
  color:#484848;
  font-family: 'Nunito', sans-serif;
  padding: 4px;
}

.name {
  composes: common; 
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.date {
  composes: common; 
  font-size: 14px;
  line-height: 18px;
  display: inline;
  font-weight: normal;
}

.reviewBody {
  composes: common; 
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

img {
  border-radius: 50%;
  
}

button {
  font-family: 'Nunito', sans-serif;
  color: #008489;
  padding: 4px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  background: transparent;
}