.common {
  composes: common from "./Reviews.css";
}

.divider {
  composes: divider from "../Styles/App.css";
}
.fa {
  composes: common;
  color: #008489;
}

i {
  padding: 2px;
}

.table {
  composes: common;
  display: flex;
  flex-direction: column;
}

.row {
  composes: common;
  display: flex;
  flex-direction: row;
}

.cell {
  composes: common;
  display: flex;
  flex-basis: 50%;
}

.summary {
  composes: common;
  font-size: "20px";
  line-height: "26px";
}